@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* color */
:root {
  --primary5: #E0F6FC;
  --primary10: #B2E8F7;
  --primary20: #80D9F0;
  --primary30: #4EC9E8;
  --primary40: #2BBEE0;
  --primary50: #18B4D9;
  --primary60: #12A4C5;
  --primary70: #0790AB;
  --primary80: #007C92;
  --primary90: #005A66;

  --secondary5: #DBF2FF;
  --secondary10: #BADEF9;
  --secondary20: #9FC4E5;
  --secondary30: #80ABCF;
  --secondary40: #6897BE;
  --secondary50: #4F85AD;
  --secondary60: #40769B;
  --secondary70: #306283;
  --secondary80: #224E6D;
  --secondary90: #0B3954;

  --success5: #E4F6EE;
  --success10: #C0E8D4;
  --success20: #9ADABB;
  --success30: #6DCAA0;
  --success40: #4ABF8C;
  --success50: #12B579;
  --success60: #09A56C;
  --success70: #009460;
  --success80: #008053;
  --success90: #00613D;

  --warning5: #FCF7E3;
  --warning10: #F9E9B8;
  --warning20: #F5DA8B;
  --warning40: #EFC246;
  --warning60: #ECAB2F;
  --warning70: #EB9A2B;
  --warning80: #E98B26;

  --danger5: #FBE8E9;
  --danger10: #F5C7C7;
  --danger20: #DD9188;
  --danger30: #CB665D;
  --danger40: #CD4B37;
  --danger50: #CB3A15;
  --danger60: #C03016;

  --gray5: #fff;
  --gray10: #FAFAFA;
  --gray20: #F5F5F5;
  --gray30: #F0F0F0;
  --gray40: #DEDEDE;
  --gray50: #C2C2C2;
  --gray60: #969696;
  --gray70: #828282;
  --gray80: #616161;
  --gray90: #3D3D3D;

  --bk: #333;
  --wh: #fff;
}
.essential {
  color: var(--danger50);
}

/* button */
:root {
  --button-padding-md: 10px 20px;
  --button-padding-sm: 8px 12px;
  --button-padding-xs: 4px 6px;
  --button-padding-xxs: 2px 2px;

  --btn-wh: var(--wh);
  --btn-bk: var(--bk);
  --btn-gy: var(--gray60);
  --btn-bl: var(--secondary50);
  --btn-rd: var(--danger50);
}
 
button {
  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; */
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: .25s;
  text-wrap: nowrap;
  border: none;
}

button.bk {
  border: 1px solid var(--btn-bk);
  background-color: var(--btn-bk);
  color: var(--wh);
}
button.bk_outline {
  border: 1px solid var(--btn-gy);
  background-color: var(--btn-wh);
  color: var(--bk);
}
button.bk:hover {
  background-color: var(--gray90);
}
button.bk_outline:hover {
  background-color: var(--gray30);
}

button.bl {
  border: 1px solid var(--btn-bl);
  background-color: var(--btn-bl);
  color: var(--wh);
}
button.bl_outline {
  color: var(--btn-bl);
  border: 1px solid var(--btn-bl);
  background-color: var(--btn-wh);
}
button.bl:hover {
  background-color: var(--secondary60);
}
button.bl_outline:hover {
  background-color: var(--btn-bl);
  color: var(--wh);
}

button.rd {
  border: 1px solid var(--btn-rd);
  background-color: var(--btn-rd);
  color: var(--wh);
}
button.rd_outline {
  color: var(--btn-rd);
  border: 1px solid var(--btn-rd);
  background-color: var(--btn-wh);
}
button.rd:hover {
  background-color: var(--danger60);
}
button.rd_outline:hover {
  background-color: var(--btn-rd);
  color: var(--wh);
}

button.md {
  padding: var(--button-padding-md);
}
button.sm {
  padding: var(--button-padding-sm);
}
button.xs {
  padding: var(--button-padding-xs);
}
button.mini {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border);
  background-color: var(--wh);
}
button.mini:hover {
  background-color: var(--gray30);
}

.btn_box {
  display: flex;
  align-items: center;
  gap: var(--space-8);
}

 /* toggle button */
.toggleSwitch {
  width: 40px;
  height: 20px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  border: var(--border);
  cursor: pointer;
}
.toggleSwitch .toggleButton {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--secondary50);
}
#toggle:checked ~ .toggleSwitch {
  background: var(--secondary50);
}
#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 16px);
  background: #fff;
}
.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}
.toggleSwitch.active {
  background: var(--secondary50);
}
.toggleSwitch.active .toggleButton {
  left: calc(100% - 44px);
  background: #fff;
}

/* shortBtn */
.shortBtn {
  margin-top: var(--space-16);
}
.shortBtn button {
  flex: 1;
  display: flex;
  justify-content: space-between;
  background-color: var(--btn-wh);
  padding: var(--space-40) var(--space-24);
  /* layer Shadow */
  box-shadow: 0px 5px 5px 0px rgba(51, 51, 51, 0.09);
  transition: .25s;
}
.shortBtn button:hover {
  box-shadow: 0px 1px 1px 0px rgba(51, 51, 51, 0.09);
}
.shortBtn button:hover span.arrow {
  margin-right: 0;
  transition: .25s;
}
.shortBtn button span {
  margin-right: var(--space-8);
}

/* border */
:root {
  --border: 1px solid var(--gray40);
  --border-radius: 3px;
}

/* list */
:root {
  --list-padding-lg: 16px 24px;
  --list-padding-md: 12px 24px;
  --list-padding-sm: 8px 24px;
  --list-padding-mobile: 8px 12px;

  --list-hover-gy: var(--gray30);
  --list-hover-bl: var(--secondary5);

  --list-focurs-gy: var(--gray30);
  --list-focurs-bl: var(--secondary5);
}

/* input */
:root {
  --input-padding: 8px 12px;
  --input-shadow: 0px 0px 0px 2px rgba(88, 140, 178, 0.25);
  --input-error-shadow: 0px 0px 0px 2px rgba(178, 88, 100, 0.349);
  
  --input-error: 1px solid var(--danger50);
  --input-focurs: 1px solid var(--secondary20);
  --input-disabled: 1px solid var(--gray40);
}

input[type=file],
input[type=file]:hover,
input[type=file]:focus {
  border: none;
}
input[type='file'] {
  display: none;
}
.file_wrap {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  width: 100%;
}
.file_btn {
  padding: var(--button-padding-sm);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray60);
  background: var(--wh);
  cursor: pointer;
}
.file_name {
  padding: var(--space-6) var(--space-8);
  background: var(--gray30);
  border-radius: var(--border-radius);
  flex: 1;
}
.file_save_name {
  padding: var(--space-6) var(--space-8);
  background: none;
}

.file_wrap button span {
  font-size: 18px;
}
.input_wrap {
  display: flex;
  width: 100%;
  padding: var(--space-8) 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-8);
}
.input_wrap .item_title {
  padding: 0px var(--space-6);
}
.item_title {
  padding: var(--space-8) var(--space-6);
  font-weight: 700;
}
.item_title.bl {
  background-color: var(--secondary20);
  color: var(--wh);
  text-align: center;
  border-radius: var(--border-radius);
  margin-bottom: var(--space-8);
}

input.sm,
select.sm {
  height: 28px;
}

input,
select {
  height: 37px;
}
select,
input,
textarea {
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--input-padding);
  transition: 0.25s;
  color: var(--bk);
  cursor: pointer;
  background-color: var(--wh);
}
input:hover,
select:hover,
textarea:hover { 
  border: var(--input-focurs);
}
input:focus,
select:focus,
textarea:focus { 
  border: var(--input-focurs);
  box-shadow: var(--input-shadow);
}
input:invalid,
select:invalid,
textarea:invalid {
  border: var(--input-error);
  background-color: var(--danger5); 
  color: var(--danger50);
}
input:invalid:focus,
select:invalid:focus,
textarea:invalid:focus {
  box-shadow: var(--input-error-shadow);
}
input:disabled,
select:disabled,
textarea:disabled {
  border: var(--input-disabled);
  background-color: var(--gray20); 
  color: var(--gray60);
}
input:read-only:hover {
  border: var(--border);
}
input:read-only:focus {
  border: var(--border);
  box-shadow: none;
}
input:required + span.input_hint,
select:required + span.input_hint,
textarea:required + span.input_hint {
  display: block;
}

.input_hint {
  display: none;
  width: 100%;
  padding: 0 var(--space-12);
  color: var(--danger50);
}

.control_wrap {
  display: flex;
  align-items: center;
  gap: var(--space-16);
  padding: var(--space-8)
}

/* checkbox */
.checkbox_wrap {
  display: flex;
  position: relative;
}
.screen_reader { 
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  margin: -1px;
  clip-path: inset(50%);
}
.label_box {
  position: relative;
}
.label_box label {
  padding-left: var(--space-24);
  position: relative;
  cursor: pointer;
}
.check_icon {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: var(--border-radius);
  border: var(--border);
  background-color: var(--wh);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.check_icon::before {
  display: none;
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 30%;
  height: 55%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-70%) rotateZ(40deg);
  border-right: 2px solid var(--secondary50);
  border-bottom: 2px solid var(--secondary50);
}
[type="checkbox"] {
  cursor: pointer;
}
[type="checkbox"] + .label_box .check_icon {
transition: .25s;
}
[type="checkbox"]:hover + .label_box .check_icon {
  box-shadow: 0 0 0 max(2px, 0.2em) lightgray;
  cursor: pointer;
}
/* check background */
[type="checkbox"]:checked + .label_box .check_icon {
  border-color:  var(--secondary50);
  background-color: var(--secondary5);
}
[type="checkbox"]:disabled + .label_box .check_icon {
  border-color:  var(--gray50);
  background-color: var(--gray30);
}
/* check */
[type="checkbox"]:disabled + .label_box label {
  opacity: 0.7;
}
[type="checkbox"]:disabled:checked:hover + .label_box .check_icon {
  box-shadow: none;
}
[type="checkbox"]:disabled:hover + .label_box .check_icon {
  box-shadow: none;
}
[type="checkbox"]:checked + .label_box .check_icon::before {
  border-color: var(--secondary50);
  display: block;
}
[type="checkbox"]:disabled:checked + .label_box .check_icon::before {
  border-color:  var(--gray50);
  background-color: var(--gray30);
  display: block;
}

/* radio */
[type="radio"], span {
  vertical-align: middle;
}
[type="radio"]:hover + span {
  cursor: pointer;
}
[type="radio"]:hover {
  box-shadow: 0 0 0 max(2px, 0.2em) lightgray;
  cursor: pointer;
}
[type="radio"]:disabled:hover {
  box-shadow: none;
}

[type='radio'] {
  appearance: none;
  width: 14px;
  height: 14px;
  border: var(--border);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0 .3vw 0 0;
}
[type='radio']:checked {
  border: 2.5008px solid var(--wh); 
  background-color: var(--secondary50);
  box-shadow: 0 0 0 1px var(--secondary50);
}

[type="radio"]:disabled {
  border-color:  var(--gray50);
  background-color: var(--gray30);
  cursor: not-allowed;
}
[type="radio"]:disabled:checked {
  border-color:  var(--wh);
  background-color: var(--gray50);
  box-shadow: 0 0 0 1px var(--gray50);
}
[type="radio"]:disabled + span {
  opacity: 0.7;
}

.clalender_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--space-8);
}
.search_box {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--wh);
  padding: var(--search-padding);
}
.search_box table th,
.list_box table th {
  background-color: var(--wh);
  text-align: left;
  padding: 0 var(--space-16);
}
.search_box table td,
.list_box table td {
  padding: var(--space-8);
}
.search_box table td.btn_area button {
  width: 100%;
}

.searchbar_wrap {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  flex: 1;
}
.searchbar_wrap .select_aera {
  display: flex;
  align-items: center;
  gap: var(--space-8);
}
.searchbar {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

:root {
  --menu-width: 280px;
  --header-height: 60px;

  /* padding */
  --space-4: .25rem;
  --space-6: .375rem;
  --space-8: .5rem;
  --space-10: .625rem;
  --space-12: .75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-40: 2.5rem;

  /* table */
  --th-padding: .375rem .5rem;
  --td-padding: .375rem .625rem;
  --search-padding: .75rem 1.125rem;
}

.position_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.flex_lg {
  display: flex;
  align-items: start;
  gap: var(--space-24);
  width: 100%;
}
.flex_md {
  display: flex;
  align-items: start;
  gap: var(--space-12);
  width: 100%;
}
.flex_sm {
  display: flex;
  align-items: start;
  gap: var(--space-8);
  width: 100%;
}
.flex_xs {
  display: flex;
  align-items: start;
  width: 100%;
}
.flex_sm_center {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  width: 100%;
}
.felx_column_xs {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.flex > div {
  width: 100%;
}
.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

html {
  font-size: 100%;
}
* {
  box-sizing: border-box;
  outline: none;
  text-wrap: nowrap;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--gray40);
  border-radius: var(--border-radius);
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}

a {
  color: var(--bk);
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/* font */
:root {
  --h3: 3rem;
  --h5: 1.5rem;
  --h6: 1.25rem;
  --subtitle01: 1rem;
  --subtitle02: .875rem;
  --body01: 1rem;
  --body02: .875rem;
  --caption: .75rem;
}

h3 {
  font-size: var(--h3);
  font-weight: 600;
}
h5 {
  font-size: var(--h5);
  font-weight: 500;
  margin: 0;
}
h6 {
  font-size: var(--h6);
  font-weight: 500;
}
a, p {
  text-wrap: balance;
}
.subtitle01 {
  font-size: var(--subtitle01);
  font-style: normal;
  font-weight: 600;
}
.subtitle02 {
  font-size: var(--subtitle02);
  font-style: normal;
  font-weight: 600;
}
.caption {
  font-size: var(--caption);
  font-style: normal;
  font-weight: 400;
  text-wrap: auto;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: var(--bk);
  font-size: var(--body02);
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

/* header */
header {
  height: var(--header-height);
  padding: 9px 20px;
  background-color: var(--bk);
  color: var(--wh);

  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menuToggle {
  display: none;
  padding: var(--space-4);
  border-radius: var(--border-radius);
}
header .menuToggle:hover {
  background-color: #000;
}

header .profile_box {
  display: flex;
  align-items: center;
  gap: var(--space-12);
  padding: 0 var(--space-8);
  border-radius: var(--border-radius);
}

header .profile_box:hover {
  background-color: #111;
  cursor: pointer;
}
header .profile_box .photo {
  width: 34px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.logo {
  width: 128px;
}

/* main */
main {
  background-color: var(--gray20);
  display: flex;
  height: calc(100vh - var(--header-height));
}

/* nav */
nav {
  width: var(--menu-width);
  height: calc(100vh - var(--header-height));
  background-color: var(--wh);
  border-right: var(--border);
  overflow-y: scroll;
  padding: var(--space-12) 0;
}
nav .title {
  padding: var(--list-padding-sm);
  font-size: var(--subtitle02);
  font-weight: 700;
}
nav  li {
  margin-bottom: var(--space-16);
}
nav .sub_menu a {
  padding: var(--list-padding-lg);
  display: flex;
  align-items: center;
  gap: var(--space-10);
}
nav .sub_menu a:hover {
  background-color: var(--list-hover-gy);
}

.container {
  position: relative;
  width: calc(100% - var(--menu-width));
  overflow-y: scroll;
}

.container_inner {
  padding: 0 var(--space-40);
  display: flex;
  gap: var(--space-16);
  flex-direction: column;
}

/* page_header */
.page_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-16) var(--space-40);
  width: 100%;
}
.page_header .title_box {
  display: flex;
  align-items: center;
  gap: var(--space-10);
}
.page_btn {
  display: flex;
  gap: var(--space-4);
}

/* paper */
.paper { 
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--wh);
  padding: var(--space-16);
  width: 100%;
}

.paper.info { 
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: 150px;
}
.paper.info > div:first-child {
  height: 100%;
}
.paper.info .icon { 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  color: var(--wh);
  border-radius: var(--border-radius);
}
.paper.info span.count {
  color: var(--gray70);
}

/* info_bl */
.info_bl h6 {
  color: var(--secondary50);
}
.info_bl .icon {
  background-color: var(--secondary20);
}

/* info_rd */
.info_rd h6 {
  color: var(--danger50);
}
.info_rd .icon {
  background-color: var(--danger20);
}

/* info_ye */
.info_ye h6 {
  color: var(--warning60);
}
.info_ye .icon {
  background-color: var(--warning20);
}

/* info_gr */
.info_gr h6 {
  color: var(--success60);
}
.info_gr .icon {
  background-color: var(--success20);
}

/* info_gy */
.info_gy h6 {
  color: var(--gray80);
}
.info_gy .icon {
  background-color: var(--gray50);
}

/* info_sk */
.info_sk h6 {
  color: var(--primary60);
}
.info_sk .icon {
  background-color: var(--primary20);
}

/* badge */
.badge {
  width: fit-content;
  font-size: var(--body02);
  background-color: var(--secondary50);
  color: var(--wh);
  padding: var(--button-padding-xs);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-4);
}
.badge span {
  font-size: 18px;
} 

.badge.bl {background-color: var(--secondary50);} 
.badge.rd {background-color: var(--danger40);} 
.badge.ye {background-color: var(--warning60);} 
.badge.gr {background-color: var(--success50);} 
.badge.gy {background-color: var(--gray80);} 
.badge.sk {background-color: var(--primary50);} 

.badge.bl.light {background-color: var(--secondary5); color: var(--secondary50)} 
.badge.rd.light {background-color: var(--danger5); color: var(--danger50)} 
.badge.ye.light {background-color: var(--warning10); color: var(--warning80)} 
.badge.gr.light {background-color: var(--success5); color: var(--success60)} 
.badge.gy.light {background-color: var(--gray30); color: var(--gray80)} 
.badge.sk.light {background-color: var(--primary5); color: var(--primary60)} 

.badge.bl.line {background-color: var(--wh); border: 1px solid var(--secondary50); color: var(--secondary50)} 
.badge.rd.line {background-color: var(--wh); border: 1px solid var(--danger50); color: var(--danger50)} 
.badge.ye.line {background-color: var(--wh); border: 1px solid var(--warning60); color: var(--warning60)} 
.badge.gr.line {background-color: var(--wh); border: 1px solid var(--success60); color: var(--success60)} 
.badge.gy.line {background-color: var(--wh); border: 1px solid var(--gray80); color: var(--gray80)} 
.badge.sk.line {background-color: var(--wh); border: 1px solid var(--primary50); color: var(--primary50)} 

.badge.bl.clean {background-color:transparent; color: var(--secondary50)} 
.badge.rd.clean {background-color:transparent; color: var(--danger50)} 
.badge.ye.clean {background-color:transparent; color: var(--warning60)} 
.badge.gr.clean {background-color:transparent; color: var(--success60)} 
.badge.gy.clean {background-color:transparent; color: var(--gray80)} 
.badge.sk.clean {background-color:transparent; color: var(--primary50)} 


/* table */
.table_top_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-8);
}
.table_top_wrap .count_info {
  gap: var(--space-8);
}

.table_wrap {
  border-radius: var(--border-radius);
  border: var(--border);
  width: 100%;
  /* min-height: 520px; */
  max-height: 690px;
  overflow-y: scroll;
}
.table_wrap table {
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table .btn_area {
  text-align: center;
}
table .badge {
  margin: auto;
}
.table_wrap table thead th {
  padding: var(--th-padding);
  background-color: var(--bk);
  color: var(--wh);
  font-size: var(--caption);
  font-weight: 400;
  text-align: center;

  position : sticky;
  top : 0; 
  z-index: 1;
}
.table_wrap table tbody tr {
  background-color: var(--wh);
  width: 100%;
  height: 41px;
}
.table_wrap table tbody tr:hover td {
  background-color: var(--gray30);
}
.table_wrap table tbody td { 
  padding: var(--td-padding);
  background-color: var(--wh);
  border-bottom: var(--border);
  text-align: center;
}
.table_wrap table tbody td a { 
  color: var(--secondary50);
}
.table_wrap table tbody td a,
.table_wrap table tbody td.left div { 
  height: 17px;
  max-width: 900px;
  display: inline-block;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table_wrap table tbody tr:last-child td{
  border: none;
}
.table_wrap table tbody td.left { 
  text-align: left;
  box-sizing: border-box;
}
.table_wrap table tbody td a:hover { 
  color: var(--secondary50);
  text-decoration: underline;
}

.table_wrap.border table {
  border-collapse: separate;
	border-spacing: 0;
}
.table_wrap.border table thead th {
  background-color: var(--wh);
  color: var(--bk);
  border-top: 2px solid var(--gray40);
  border-bottom: var(--border);

  position : sticky;
  top : 0; 
  z-index: 1;
}
.table_wrap.border table tbody td {
  border: none;
}
.table_wrap table tbody td[rowspan] { 
  background-color: var(--gray30);
  border-bottom: 2px solid var(--wh);
}

/* count_info */
.count_info {
  display: flex;
  align-items: center;
}
.count_base {
  display: flex;
  align-items: center;
}
.count_base span {
  color: var(--gray70);
  font-size: var(--caption);
  padding-left: var(--space-4);
}
.count_info_list {
  width: 100%;
  border-right: var(--border);
}
.count_info_list:last-child {
  border-right: none;
}
.count_info_list .count_info {
  padding: var(--list-padding-md); 
  font-size: var(--body01);
  font-weight: 600;
  justify-content: space-between;
}
.count_info_list .count_base {
  align-items: flex-end;
  font-weight: normal;
  color: var(--bk);
}

/* count_info_list color */
.count_info_list.bl {color: var(--secondary50);} 
.count_info_list.rd {color: var(--danger50);} 
.count_info_list.ye {color: var(--warning60);} 
.count_info_list.gr {color: var(--success60);} 
.count_info_list.gy {color: var(--gray80);} 
.count_info_list.sk {color: var(--primary50);} 


/* tab_menu */
.tab_menu {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--space-8);

  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--gray30);

  padding: var(--space-4);
}
.tab_button {
  width: 300px;
  padding: var(--space-8);
  color: var(--gray60);
  font-size: var(--body01);
}
.tab_button.active {
  border-radius: var(--border-radius);
  background: var(--wh);
  box-shadow: 0px 5px 5px 0px rgba(51, 51, 51, 0.09);
  color: var(--secondary50);
}
.tab_content {
  display: none;
}
.tab_content.active {
  display: block;
}

/* tab_menu .line */
.tab_menu.line,
.tab_menu.line_sm {
  border: none;
  border-radius: 0;
  background-color: transparent;
}
.tab_menu.line button,
.tab_menu.line_sm button {
  width: auto;
  text-align: left;
  font-size: var(--body02);

  padding: var(--space-8);
  color: var(--gray60);
  background-color: var(--gray30);
}
.tab_menu.line button.active,
.tab_menu.line_sm button.active {
  border: var(--border);
  background: var(--wh);
  color: var(--bk);
}

/* tab_menu .line_sm */
.tab_menu.line_sm button {
  font-size: var(--caption);
  padding: var(--space-4) var(--space-8);
}
.tab_menu.line_sm button.active {
  box-shadow: none;
}

/* step_content */
.tab_menu.stepArea {
  background-color: transparent;
  border: none;
  justify-content: center;

  padding: var(--space-24);
}
.tab_menu.stepArea button {
  background-color: transparent;
  color: var(--gray60);
}
.tab_menu.stepArea button span {
  background-color: var(--gray30);

  width: 4px;
  height: 4px;
  border-radius: 50%;
  display: inline-block;
}
button.step_btutton em {
  font-style: normal;
  padding: var(--space-4) var(--space-8);
  display: inline-block;
  border-radius: var(--border-radius);
  margin-right: var(--space-8);
  margin-left: var(--space-16);

  color: var(--gray60);
  background-color: var(--gray30);
}

/* completed */
.tab_menu.stepArea button.completed{
  color: var(--bk);
}
.tab_menu.stepArea button.completed span{
  background-color: var(--bk);
}
button.step_btutton.completed em{
  color: var(--wh);
  background-color: var(--bk);
}

/* active */
.tab_menu.stepArea button.active {
  color: var(--secondary50);
}
.tab_menu.stepArea button.active span {
  background-color: var(--secondary50);
}
button.step_btutton.active em {
  background-color: var(--secondary50);
  color: var(--wh);
}

.step_content {
  display: none;
}
.step_content.active {
  display: block;
}

/* card */
.card_wrap {
  width: 100%;
  display: flex;
  gap: var(--space-12);
}
.card {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--wh);
  flex: 1;
}
.card .card_head {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--space-10);
  padding: var(--space-12);
  border-bottom: var(--border);
}
.card .card_head .icon {
  font-size: var(--subtitle01);
}
.card .card_body{
  padding: var(--space-12);
}

.bg {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #3333332a;
  display: none;
}
.bg_clean {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: transparent;
  display: none;
}
.modal {
  min-width: var(--modal-min-width);
  max-width: var(--modal-max-width);
  background-color: var(--wh);
  border: var(--border);
  border-radius: var(--border-radius);
  display: none;
  box-shadow: 0px 5px 10px 0px rgba(51, 51, 51, 0.18);
}
.modal_head {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--space-10);
  padding: var(--space-12);
  border-bottom: var(--border);
  font-weight: 700;
}
.modal_body {
  padding: var(--space-16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-8);
}
.modal_desc {
  width: 100%;
  max-height: var(--modal-max-height);
  /* overflow-y: scroll; */
  text-wrap: pretty;
  display: flex;
  flex-direction: column;
  gap: var(--space-8);
}
.modal .btn_area {
  text-align: right;
  justify-self: end;
}

.modal.confirm .modal_body {
  padding: var(--space-24);
  gap: var(--space-24);
}
.modal.confirm .modal_desc {
  align-items: center;
  gap: var(--space-24);
}
.modal.confirm .btn_area {
  text-align: center;
  width: 100%;
}
.modal .icon {
  padding: var(--space-4);
  border-radius: var(--border-radius);
  color: var(--wh);
  background-color: var(--gray40);
}
.modal.alert {
  background-color: var(--bk);
  color: var(--wh);
  border: none;
}
.modal.alert .subtitle01 {
  font-weight: normal !important;
}

.modal table td.left a,
.modal table td.left div {
  height: 17px;
  max-width: 300px !important;
  display: inline-block;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* accordion */
details {
  background-color: var(--wh);
  border: var(--border);
  border-radius: var(--border-radius);
  margin-bottom: 1rem;
}
details:last-child {
  margin-bottom: 0;
}
summary::-webkit-details-marker {
  display: none;
}
summary {
  display: block;
  font-size: var(--subtitle01);
  font-weight: 600;
  cursor: pointer;
  position: relative;
  padding: var(--space-8) var(--space-16);
}
summary span {
  font-size: var(--caption);
  font-weight: normal;
  padding-left: var(--space-8);
}
summary::after {
  content: "+";
  font-size: 20px;
  position: absolute;
  top: 40%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-color: var(--wh);
  border: var(--bk);
}
details .accordion_body {
  padding: var(--space-16);
}
details[open] summary {
  border-bottom: var(--border);
}
details[open] summary::after {
  content: "-";
}

.item_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-24);
  gap: var(--space-12);
}
.item_list:last-child {
  margin: 0;
}
.item_list .item_desc {
  flex: 3;
}
.item_list select {
  flex: 1;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.pagination li {
  margin: 0 var(--space-4);
  /* background-color: var(--wh); */
}
.pagination a {
  display: block;
  padding: var(--space-8) var(--space-10);
  color: var(--bk);
  text-decoration: none;
  /* border: var(--border); */
  border-radius: var(--border-radius);
  transition: background-color 0.3s;
}
.pagination a:hover {
  background-color: var(--gray40);
}
.pagination .active a {
  background-color: var(--bk);
  color: var(--wh);
  border-color: var(--bk);
}

/* footer */
footer {
  width: 100%;
  background-color: var(--gray30);
  text-align: center;
  padding: 10px;
  margin-top: var(--space-16);
  border-top: var(--border);
  /* position: absolute;
  bottom: 0;
  right: 0; */
}