@import "common.css";

@media all and (min-width:360px) and (max-width:1199px) {
  /* common */
  body {
    font-size: .9rem;
  }
  .flex_lg,
  .flex_md,
  .flex_sm {
    flex-wrap: wrap;
  }
  /* header */
  header {
    position: relative;
    z-index: 99;
  }
  header .menuToggle {
    display: block;
  }
  /* nav */
  nav {
    position: absolute;
    z-index: 5;
    display: none;
    box-shadow: 0px 5px 10px 0px rgba(51, 51, 51, 0.18);
  }
  nav.active {
    display: block;
  }
  /* container */
  .container {
    width: 100% !important;
  }
  .page_header {
    padding: var(--space-16) var(--space-24)!important;
  }
  .container_inner {
    width: 100%;
    padding: 0 var(--space-16) !important;
  }
  /* table */
  .table_wrap table tbody td a,
  .table_wrap table tbody td.left div { 
    height: 18px;
  }
  /* ==================== myTask */
  .myTask_box {
    right: -320px;
  }
  /* ==================== dash */
  .dash .banner_box {
    width: 100%;
  }
  .dash .shortBtn {
    flex-direction: row;
    flex-wrap: wrap;
  }

}

/* 테블릿 */ 
@media all and (min-width:768px) and (max-width:1199px) {
  .paper {
    padding: var(--space-8);
  }
  .card {
    width: 100%;
  }
  .info_box {
    display: grid !important;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  /* ==================== login */
  .container.login .login_wrap {
    width: 50% !important;
  }
  #myPage .flex_md > div {
    width: 100%;
  }
  /* ==================== 대시보드 */
  .adDash .donut_box {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  /* ==================== KPI */
  .container.KPI .paper .flex > div {
    width: 100%;
  }
  .KPI .info_box .info:nth-child(1){
    grid-column: 1 / 3;
  }
} 

/* 모바일 */ 
@media all and (min-width:360px) and (max-width:767px) {
  /* header */
  header .profile_box .profile {
    display: none;
  }
  .page_header .title_box {
    flex-direction: column !important;
    align-items: flex-start !important;
    gap: 4px;
  }

  .control_wrap {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  /* badge */
  .badge {
    width: 100%;
  }
  /* info_box */
  .flex_md.info_box {
    display: grid !important;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  
  .flex_xs {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  .item_list {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  /* count_info */
  .count_info_list {
    border: none;
  }
  .count_info_list .count_info {
    padding: var(--list-padding-mobile);
  }

  /* search_box */
  .table_top_wrap {
    flex-direction: column !important;
  }
  .table_top_wrap .searchbar_wrap {
    flex-direction: column !important;
    align-items: stretch !important;
    width: 100%;
  }
  .table_top_wrap .aera {
    margin-top: var(--space-8);
    display: flex;
    gap: var(--space-8);
  }
  .table_top_wrap .aera,
  .table_top_wrap .aera button {
    width: 100%;
  }

  .search_box table {
  }
  .search_box tbody tr {
    width: 100% !important;
  }
  .search_box tbody th,
  .search_box tbody td {
    display: block;
    min-width: 100% !important;
    table-layout: fixed;
  }

  /* ==================== login */
  .container.login .login_wrap {  
    width: 90% !important;
  }

  /* ==================== 대시보드 */
  .adDash .donut_box {
    flex-direction: column !important;
  }
  .adDash .donut_box .card {
    width: 100% !important;
  }
  .adDash .info_box {
    display: flex !important;
    flex-direction: column !important;
  }
  .adDash .info_box .paper.info { 
    min-width: 222px;
    max-width: 100%;
  }
  .dash .flex_lg {
    flex-direction: column !important;
  }
  /* ==================== TaskSchedule */
  #tabCalendar .flex_sm_center {
    flex-direction: column !important;
    align-items: flex-start !important;
  }
  #tabCalendar .flex_sm_center select {
    width: 100%;
  }
  .btnMark {
    width: 100%;
    overflow: scroll;
    margin-bottom: var(--space-8);
  }
  .paper #calendar {
    height: 50vh;
  }
  .fc .fc-button .fc-icon,
  .fc .fc-toolbar-title {
    font-size: 1em;
  }
  .fc .fc-button {
    font-size: .8em;
  }
  /* ==================== KPI */
  .container.KPI .info_box  {
    display: flex !important;
    flex-direction: column !important;
  }
  .container.KPI .info_box .paper.info {
    height: 150px !important;
  }
  .container.KPI .paper .flex > div {
    width: 100% !important;
  }
  /* ==================== infoValue */
  .container.infoValue .flex_lg {
    flex-direction: column !important;
  }
  /* ==================== board */
  .container_inner.board .flex_lg {
    gap: var(--space-8) !important;
  }
  .container_inner.board .profile_box {
    display: none;
  }
  .container_inner.board .flex_md button {
    width: 100%;
  }
}