@import "common.css";

/* board */
.container_inner.board .paper {
  min-height: 300px;
}
.container_inner.board .flex_lg {
  margin: var(--space-8) 0;
}
.container_inner.board .caption {
  font-weight: 700;
}
.container_inner.board .caption span {
  color: var(--gray60);
  font-weight: normal;
  padding-left: .6vw;
}
.container_inner.board .caption span.icon {
  font-size: var(--body01);
}
.container_inner.board .textBox {
  padding: var(--space-24) 0;
}

.container_inner.board .profile_box {
  width: 35px;
}
.container_inner.board .profile_box .photo {
  border-radius: var(--border-radius);
  border: var(--border);
}
.container_inner.board .comment_box {
  display: flex;
  gap: var(--space-8);
  margin-bottom: var(--space-16);
}
.container_inner.board .messege_box {
  box-sizing: border-box;
  max-width: 95%;
}
.container_inner.board .comment_box.myself .messege {
  background-color: var(--secondary5);
}
.messege_box .caption {
  margin-bottom: var(--space-4);
}
.container_inner.board .messege {
  background-color: var(--gray20);
  padding: var(--space-12) var(--space-16);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
.container_inner.board .messege p {
  text-wrap: balance;
  margin-bottom: var(--space-16);
}
.container_inner.board .messege .caption {
  /* padding-top: var(--space-12); */
  color: var(--gray60);
  font-weight: normal;
}
.container_inner.board .messege span.caption {
  margin: 0;
}
.container_inner.board .messege button {
  padding: 0 1px;
}
.container_inner.board .messege .icon {
  font-size: 18px;
  display: block;
}