@import "common.css";

/* ==================== login */
.container.login {
  width: 100%;
  height: 94vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container.login .login_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  gap: 50px;

}
.login_wrap .logo {
  width: 202px;
}
.login_wrap p {
  color: var(--gray60);
  margin-top: var(--space-16);
}
.login_wrap .login_input {
  width: 100%;
}
.login_wrap button {
  display: block;
  width: 100%;
  margin: 8px 0;
}

/* ==================== myPage */
#myPage .photo {
  border: 1px solid var(--gray20);
  width: 30%;
  margin: auto;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}
#myPage .photo span {
  position: absolute;
  top: .3vw;
  right: .3vw;
  border-radius: var(--border-radius);
  padding: .2vw;
  background-color: var(--gray20);
  color: var(--gray60);
  font-size: 18px;
}
/* ==================== myTask_wrap */
.myTask_area {
  position: fixed;
  right: 0;
  top: 60px;
  z-index: 5;
  height: 100%;
  width: 40px;
}
.myTask_box {
  display: flex;
  /* align-items: center; */
  transition: .3s;
  position: absolute;
  top: 0;
  right: -300px;
  height: 100%;
  background-color: var(--wh);
  border-left: var(--border);
}
.myTask_box.active {
  right: 0;
}
.myTask_box:hover {
  box-shadow: 0px 5px 10px 0px rgba(51, 51, 51, 0.18);
}
.myTask_box_icon {
  cursor: pointer;
  color: var(--gray60);
  width: 20px;
}
.myTask_box_icon span{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myTask_box_icon.active {
  transform: rotate(180deg);
}
.myTask_wrap {
  width: 300px;
  height: 100%;
  border-radius: 0;
}
.myTask_wrap .task_wrap {
 margin-bottom: var(--space-16);
}
.myTask_wrap .badge,
.myTask_wrap .card_body,
.myTask_wrap .count_info {
  width: 100%;
}
.myTask_wrap .data_wrap {
  background-color: var(--gray20);
  border-radius: var(--border-radius);
  padding: var(--space-8);
  max-height: 430px;
  overflow-y: scroll;
}
.myTask_wrap .data_wrap li {
  padding: var(--space-8);
  border-bottom: var(--border);
}
.myTask_wrap .data_wrap li:last-child {
  border-bottom: none;
}

/* ==================== TaskSchedule */
.modal.schedule {
  min-width: 700px !important;
  max-width: 1000px !important;
  min-height: 550px;
}
.modal.schedule #step-3 button {
  width: 100%;
  display: inline-block;
  margin-bottom: var(--space-8);
}
.modal.schedule .table_wrap {
  min-height: 130px;
  max-height: 300px;
}

.modal.botSet {
  min-width: 1000px !important;
  max-width: 1200px !important;
  min-height: 550px;
}
.modal.botSet .table_box:first-child {flex: 1;}
.modal.botSet .table_box {flex: 2;}
.modal.botSet .table_wrap {
  height: 400px;
}
.modal.botSet .searchbar {
  width: 190px;
}

:root {
  --fc-small-font-size: .85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: hsla(0, 0%, 82%, .3);
  --fc-neutral-text-color: grey;

  --fc-border-color: #ddd;
  --fc-button-text-color: #fff;

  --fc-button-bg-color: var(--bk);
  --fc-button-border-color: var(--bk);

  --fc-button-hover-bg-color: #000;
  --fc-button-hover-border-color: #000;

  --fc-button-active-bg-color: #000;
  --fc-button-active-border-color: #000;

  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, .25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;
  --fc-non-business-color: hsla(0, 0%, 84%, .3);
  --fc-bg-event-color: #8fdf82;
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188, 232, 241, .3);
  --fc-today-bg-color: var(--secondary5);
  --fc-now-indicator-color: var(--danger50);
}

/* ==================== board */
.container_inner.board .paper {
  min-height: 300px;
}
.container_inner.board .flex_lg {
  margin: var(--space-8) 0;
}
.container_inner.board .caption {
  font-weight: 700;
}
.container_inner.board .caption span {
  color: var(--gray60);
  font-weight: normal;
  padding-left: .6vw;
}
.container_inner.board .caption span.icon {
  font-size: var(--body01);
}
.container_inner.board .textBox {
  padding: var(--space-24) 0;
}

.container_inner.board .profile_box {
  width: 35px;
}
.container_inner.board .profile_box .photo {
  border-radius: var(--border-radius);
  border: var(--border);
}
.container_inner.board .comment_box {
  display: flex;
  gap: var(--space-8);
  margin-bottom: var(--space-16);
}
.container_inner.board .messege_box {
  box-sizing: border-box;
  max-width: 95%;
}
.container_inner.board .comment_box.myself .messege {
  background-color: var(--secondary5);
}
.messege_box .caption {
  margin-bottom: var(--space-4);
}
.container_inner.board .messege {
  background-color: var(--gray20);
  padding: var(--space-12) var(--space-16);
  border-radius: var(--border-radius);
  box-sizing: border-box;
}
.container_inner.board .messege p {
  text-wrap: balance;
  margin-bottom: var(--space-16);
}
.container_inner.board .messege .caption {
  /* padding-top: var(--space-12); */
  color: var(--gray60);
  font-weight: normal;
}
.container_inner.board .messege span.caption {
  margin: 0;
}
.container_inner.board .messege button {
  padding: 0 1px;
}
.container_inner.board .messege .icon {
  font-size: 18px;
  display: block;
}


/* custom FullCalendar */